--
-- PostgreSQL database dump
--

\restrict 9ZjUJag79mpwDAwnuKb3jSG55ed60OQ99An2FqzpU3XWv2wIPaiJts5eavSj5oD

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: frigo_user
--

CREATE TABLE public.alerts (
    id integer NOT NULL,
    product_id integer NOT NULL,
    kind text NOT NULL,
    due_date date NOT NULL,
    message text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    lot_id integer
);


ALTER TABLE public.alerts OWNER TO frigo_user;

--
-- Name: alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: frigo_user
--

CREATE SEQUENCE public.alerts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alerts_id_seq OWNER TO frigo_user;

--
-- Name: alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: frigo_user
--

ALTER SEQUENCE public.alerts_id_seq OWNED BY public.alerts.id;


--
-- Name: alerts id; Type: DEFAULT; Schema: public; Owner: frigo_user
--

ALTER TABLE ONLY public.alerts ALTER COLUMN id SET DEFAULT nextval('public.alerts_id_seq'::regclass);


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: frigo_user
--



--
-- Name: alerts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: frigo_user
--

SELECT pg_catalog.setval('public.alerts_id_seq', 249, true);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: frigo_user
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: alerts uq_alert; Type: CONSTRAINT; Schema: public; Owner: frigo_user
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT uq_alert UNIQUE (product_id, kind, due_date);


--
-- Name: alerts trg_alerts_updated_at; Type: TRIGGER; Schema: public; Owner: frigo_user
--

CREATE TRIGGER trg_alerts_updated_at BEFORE UPDATE ON public.alerts FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: alerts fk_alerts_lot; Type: FK CONSTRAINT; Schema: public; Owner: frigo_user
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT fk_alerts_lot FOREIGN KEY (lot_id) REFERENCES public.lots(id) ON DELETE SET NULL;


--
-- Name: alerts fk_alerts_product; Type: FK CONSTRAINT; Schema: public; Owner: frigo_user
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT fk_alerts_product FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 9ZjUJag79mpwDAwnuKb3jSG55ed60OQ99An2FqzpU3XWv2wIPaiJts5eavSj5oD

