* text=auto

# Forcer LF dans le repo pour les fichiers texte "code"
*.py    text eol=lf
*.md    text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.toml  text eol=lf
*.json  text eol=lf
*.sql   text eol=lf
*.sh    text eol=lf

# Garder CRLF pour les scripts Windows
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.ps1   text eol=crlf
.gitattributes text eol=lf

.gitattributes text eol=lf
