__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
*.egg

.vscode/
.idea/

dev.db
*.sqlite*
.env

.DS_Store
Thumbs.db

# local test DB
/test_ci.db
test_ci.db

