# Par défaut: LF dans le repo
* text=auto eol=lf

# Exceptions Windows
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

# Scripts Unix
*.sh text eol=lf

# Code (déjà LF via règle globale, mais on explicite)
*.py text eol=lf
*.sql text eol=lf
*.md  text eol=lf
